.button {
    display: inline-block;
    height: 48px;
    width: 55px;
    margin-left: 1px;
}

.imageContainer32 {
    width: 32px;
    height: 32px;
    display: inline-block;
    z-Index: 10;
    overflow: hidden;
    position: relative;
}

.buttonName {
    display: block;
}

.buttonImage32 {
    background-position: -35px -35px;
    background: url('/_layouts/15/1033/images/formatmap32x32.png');
    //position: 'absolute';
    width: 32px;
    height: 32px;
    z-index: 5;
}