.button {
    display: inline-block;
    height: 48px;
    width: 55px;
    margin-left: 1px;
}

.imageContainer32 {
    width: 32px;
    height: 32px;
    display: inline-block;
    z-Index: 10;
    overflow: hidden;
    position: relative;
}

.buttonName {
    display: block;
}

.buttonImage32 {
    background-Position: 35px 35px;
    //position: 'absolute';
    //top: 35px;
    //left: 35px;
    z-Index: 5;
}